{% extends 'base.html' %}

{% block titulo %}
HomeFilmes InterFlix
{% endblock %}

{% block content %}
    <div class="py-16">
        <h1>Essa é o detalhe do filme: {{ object.titulo }}</h1>
           <p>{{ object }}</p>
        <p>{{ object.descricao }}</p>
        <p>Visualizações: {{object.quantidade_views}}</p>
              <img class="h-screen mx-auto p-4 flex items-center" src="{{ object.thumb.url }}">

        <h2>Episódios</h2>
        {% for episodio in object.episodios.all %}
            <a href="{{ episodio.video }}">
                
                <p>Episódio {{forloop.counter}}: {{ episodio.titulo }}</p>
            </a>
        {% endfor %}
    </div>
    <div class="py-10">
        <h2 class="py-6">Filmes Relacionados:</h2>
        {% for filme in filmes_relacionados %}
        
        <p >
            <a href="{% url 'filme:detalhesfilme' filme.pk %}">
            {{ filme.titulo }}
            </a>
        </p>
        {% endfor %}
    </div>

{% endblock %}

<!-- h-0	height: 0px;
h-px	height: 1px;
h-0.5	height: 0.125rem; /* 2px */
h-1	height: 0.25rem; /* 4px */
h-1.5	height: 0.375rem; /* 6px */
h-2	height: 0.5rem; /* 8px */
h-2.5	height: 0.625rem; /* 10px */
h-3	height: 0.75rem; /* 12px */ -->

